div(show-during-resolve).loadingLayer.ease
	h1: i
section.splash(style="background-image:url('../Golden-Retriever-Lay-Contact-low.jpg')").bg
	div(style="left:25%").ease.hideBottom
		h1(style="font-size:3em") Dancing Tails Dog
		h1(style="font-size:3em") Training is currently
		h1(style="font-size:3em") not accepting new
		h1(style="font-size:3em") clients.

section.pageEnd
	figure.banner#contactEnd(style="background-image:url('../Chocolate-Lab-standard.jpg')").bg
		div
			img(src="Dancing-Tails-Logo-White-standard.png", style="width:100%")