div(show-during-resolve).loadingLayer.ease
	h1: i
section.container#services
	div.panelContainer(style="background-image:url('French-Bulldog-Training-Sit-low.jpg')")
		div.serviceIntro
			h1.green I am Here to Help!
			h2 Each private dog or puppy training consult includes:
			ul
				li A pre-consult phone call
				li A 90-minute in-person consult
				li A detailed follow-up email from our meeting including a summary of the consult and key recommendations
			p.smallest.italic All dog and puppy training programs include all consultation features. I currently operate out of Berkeley, CA and serve the East Bay Area
			p(ng-click="moveDown()",style="cursor:pointer") Select a dog or puppy training category below
	div.panelContainer.serviceInner.ease
		div.package(ng-repeat="category in services")
			div(ng-show="category.state")
				div.panel
					h2(style="float:left")
						span.green {{category.title}} 
						br
						| {{category.description}}
					div.green(style="float:right")
						h2(ng-repeat="(i, package) in category.packages", ng-click="showDetails(i)").price.ease
							| {{package.session}} {{package.price}}
				div.panel(ng-repeat="package in category.packages", ng-show="package.state",style="border:solid #1BA39C")
					p {{package.description}}
				div.panel
					div(style="width:70%;display:inline-block;vertical-align:top")
						ul
							li(ng-repeat="item in category.items")
								p {{item.service}}
								ul(ng-show="item.sub")
									li(ng-repeat="item in item.sub")
										p {{item}}
					figure(style="width:30%;display:inline-block;padding-left:40px")
						img(src="{{category.image}}",style="border:solid #eee 15px")
	div#categoryOutter
		div#categoryInner.ease
			div.grid-third
				div.panel(ng-click="showProgram(0)",style="background-image:url('../Chihuahua-Portrait-low.jpg')").bg.ease
					h1 Puppy
			div.grid-third
				div.panel(ng-click="showProgram(1)",style="background-image:url('../Wheaten-Terrier-low.jpg')").bg.ease
					h1 Basic
			div.grid-third
				div.panel(ng-click="showProgram(2)",style="background-image:url('../Golden-Retriever-Sit-low.jpg')").bg.ease
					h1 Behavior
	div#policy
		div.grid-half
			p.small.bold.green Payment
			p.smallest Payment for all dog training services to be made at the time of your scheduled appointment. If you purchase a 4- or 12-session training package, payment is to be made at the time of your first scheduled appointment. I take cash and checks only.
		div.grid-half
			p.small.bold.green Cancellation Policy
			p.smallest I require 48-hour notice to change or cancel your dog training consultation appointment for a full refund.
		div.grid-half
			p.small.bold.green Travel Costs
			p.smallest I am based out of Berkeley, CA. Any services provided in San Francisco, north of Richmond, east of Orinda, or south of Oakland will incur an extra cost for travel compensation (both time and fuel). Because fuel costs and travel time vary greatly depending on time of year and the scheduled time of the consult, this cost will be discussed at the time the appointment is scheduled. 

section.pageEnd
	figure.banner#servicesEnd(style="background-image:url('../Dog-Paw-standard.jpg')").bg
		div
			h1 Have Questions | Want More Details?
			p.small Reach out to me and start training your dog or puppy today
			a(href="/contact"): button.ease Contact Me